h1 {
    text-align: center;
    color: black;
    font-size: 50px;
}

#ligne {
    border-bottom:1px solid black;
}

img {
    margin-left: 542px;
    margin-right: auto;
    float:center;
    margin-top: 150px;
}

#presentation{
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
}

#profiles_ex{
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
}

body{
    background-color:#e5e5e5;
    background-image: url("fond.PNG");
}

#croix1{
    margin-top: 105px;
    margin-right: 330px;
}

#croix2{
    margin-top: -44px;
    margin-right: 0px;
}

#croix3{
    margin-top: 0px;
    margin-right: 60px;
}
#croix4{
    margin-top: 105px;
    margin-right: 330px;
}

#croix5{
    margin-top: 0px;
    margin-right: 60px;
}

#croix6{
    margin-top: 0px;
    margin-right: 60px;
}
#croix7{
    margin-top: 105px;
    margin-right: 330px;
}

#croix8{
    margin-top: 0px;
    margin-right: 60px;
}

#croix9{
    margin-top: 0px;
    margin-right: 60px;
}



#bouton_start{
    width:200px;
    height:80px;
    font-size: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
}

#question {
    background-color: whitesmoke;
    font-size: 20px;
}

hg {
    text-align: top;
}


p {
    text-align: center;
}

#rep1 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
    margin-top: 100px;
}

#rep2 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
}

#rep3 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
}

/* Quand la souris est sur le bouton il devient noir */
#rep1:hover {
    background-color: black;
    color: white;
}

#rep2:hover {
    background-color: black;
    color: white;
}

#rep3:hover {
    background-color: black;
    color: white;
}

#resultat {
    background-color: whitesmoke;
    border: none;
    font-size: 50px;
    margin-top: 250px;
}

#resultat:hover {
    background-color: black;
    color: white;
}
